[submodule "examples/modules/luvit-app"]
	path = examples/modules/luvit-app
	url = git://github.com/dvv/luvit-app.git
[submodule "examples/modules/kernel"]
	path = examples/modules/kernel
	url = git://github.com/luvit/kernel.git
[submodule "examples/modules/static"]
	path = examples/modules/static
	url = git://github.com/dvv/luvit-static.git
